@(form:play.api.data.Form[models.Paste])

@errors(field:play.api.data.Field) = {
   @for(error <- field.errors) {
       <span class="error">@Messages(error.message)</span>
   }
}

@main("New paste", "Add a new code snippet or file upload") {

    <section class="box">

    @for(error <- form.errors) {
        <p class="error">@error.key - @Messages(error.message)</p>
    }

    <form class="" method="post" action="@routes.Application.post">

    <div>
        <label for="paste.title">Title</label>
        <input id="paste.title" name='@form("title").name' value="" class="title">
        @errors(form("title"))
    </div>

    <div>
        <label for="paste.code">Code</label>
        <textarea id="paste.code" name='@form("code").name' rows="30" class=""></textarea>
        @errors(form("code"))
    </div>

    <div>
        <input type="submit" value="Paste" accesskey="s">
    </div>

    </form>

    </section>
}

