@(title: String, subtitle: String, navigation: => Html = Html(""))(content: Html)
@import play.api.Play.current
<!DOCTYPE html>
<html>
<head>
<title>@title - Plaste</title>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<link type="text/css" rel="stylesheet" href="@routes.Assets.at("scripts/google-code-prettify/prettify.css")" />
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<script type="text/javascript" charset="utf-8" src="@routes.Assets.at("scripts/modernizr.js")"></script>
<script type="text/javascript" charset="utf-8" src="@routes.Assets.at("scripts/jquery.js")"></script>
<script type="text/javascript" charset="utf-8" src="@routes.Assets.at("scripts/jquery-ui.js")"></script>
<script type="text/javascript" charset="utf-8" src="@routes.Assets.at("scripts/init.js")"></script>
<script type="text/javascript" charset="utf-8" src="@routes.Assets.at("scripts/google-code-prettify/prettify.js")"></script>
</head>
<body onload="prettyPrint()">

<header>
<div class="logo">@current.configuration.getString("application.name")</div>
</header>

<nav>
<ul>
<li class="@(if (title == "New paste") "active")"><a href="@routes.Application.index()">New</a></li>
<li class="@(if (title == "Paste history") "active")"><a href="@routes.Application.history()">History</a></li>
@navigation
</ul>
</nav>

<article class="content">
<hgroup>
<h1>@title</h1>
<h5>@subtitle</h5>
</hgroup>

@content
</article>

<footer>
<p>Copyright ©2011 Lunatech Labs BV</p>
</footer>

</body>
</html>
